/* about us page contents START  */

.page_container {
}
.section_breadcrumb {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #6e0615;
	width: 100% !important;
	height: 400px !important;
	display: table;
}
.section_breadcrumb_wrapper {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.about.breadcrumb_bg_img_01 {
	background-image: linear-gradient(
			0deg,
			rgba(22, 21, 22, 0.3),
			rgba(10, 10, 10, 0.3)
		),
		url("../img/about-page-img/breadcrumb-img01.png");
}
.delivery.breadcrumb_bg_img_01 {
	background-image: linear-gradient(
			0deg,
			rgba(22, 21, 22, 0.3),
			rgba(10, 10, 10, 0.3)
		),
		url("../img/delivery-img/GRA_6591.png");
}

.about.breadcrumb_bg_img_02 {
	background-image: linear-gradient(
			0deg,
			rgba(22, 21, 22, 0.3),
			rgba(10, 10, 10, 0.3)
		),
		url("../img/about-page-img/breadcrumb-img02.png");
}
.about.breadcrumb_bg_img_03 {
	background-image: linear-gradient(
			0deg,
			rgba(22, 21, 22, 0.3),
			rgba(10, 10, 10, 0.3)
		),
		url("../img/about-page-img/breadcrumb-img03.png");
}
.section_breadcrumb_title {
	color: #ffffff;
}
.section_breadcrumb_title h1 {
	font-size: 45px;
	font-weight: 600;
	text-transform: capitalize;
	color: #ffffff;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
.section_breadcrumb_title h2 {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	letter-spacing: 2px;
}
.about_section_title {
}
.delivery.section_contents {
}
.delivery.section_contents button {
	border: none;
	padding: 11px 16px;
	margin-right: 17px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}
.delivery.section_contents button:focus {
	outline: none;
}
.delivery.section_contents .home_btn {
	background-color: #f8fbfd;
	border: 1px solid #e0e3e5;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #727373;
	box-shadow: 0px 0px 10px 5px #e0e3e5;
}
.delivery.section_contents .delivery_btn {
	color: #791216;
	border: 1px solid #791216;
	background-color: #f1e8e8;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-transform: capitalize;
}

.delivery_section_title h1,
.about_section_title h1 {
	font-size: 30px;
	text-transform: capitalize;
	color: #292929;
	line-height: 45px;
	border-bottom: 2px solid #b8b8b8;
}
.section_contents {
}
.delivery.section_contents .contents h1 {
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 10px;
}
.delivery.section_contents .contents h2 {
	font-size: 18px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 15px;
}
.delivery.section_contents .contents p {
	margin-bottom: 15px;
}
.section_contents .contents h1 {
	font-size: 25px;
	font-weight: 500;
	color: #303030;
}
.section_bg_color {
	background-color: #f8fbfd;
}
.section_contents.section_bg_color {
	padding: 15px;
}
.section_contents p {
	color: #292929;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
}
.section_contents p span {
	color: #791216 !important;
	font-weight: 500;
}

/* product details pages css 
===============================
*/
.product_details_page_slider {
	position: relative;
	margin-bottom: 50px;
}
.product_details_page_hero,
.product_contents h1 {
	font-weight: 600;

	font-family: PT_Serif !important;
}
.product_aditional_content {
	border-top: 2px solid #791216;
	border-left: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 10px;
}
.product_aditional_content p {
	font-size: 14px;
	color: #292929;
	font-weight: 400;
	line-height: 27px;
	font-family: PT_Serif !important;
}
.product_aditional_content p span {
	color: #791216;
}
.product_catagori p {
	color: #303030;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 600;
	margin-right: 20px;
}
.product_catagori p span {
	color: #8d8d8d;
	font-weight: 400;
}
.product_details_page_slider_bg_1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 151px;
	height: 100%;
	background-image: url(../img/hero-slider-img/hero-left-bg.png);
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}
.product_details_page_slider_bg_2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 151px;
	height: 100%;
	background-image: url(../img/hero-slider-img/hero-left-bg.png);
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.shipping_and_feature_wrapper {
	padding: 50px 0px;
	background-color: #f8fbfd;
}
.shipping_and_feature_wrapper nav {
}
.shipping_and_feature_wrapper nav a {
	color: #303030;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	padding: 10px 20px;
}
.shipping_and_feature_wrapper nav a:focus {
	outline: 0;
}
.shipping_and_feature_wrapper nav a.active {
	color: #791216;
}
.shipping_tab_content {
}
.shipping_tab_content ul {
	margin-bottom: 20px;
	margin-top: 15px;
}
.shipping_tab_content ul li {
	color: #791216;
	font-size: 18px;
	font-weight: 500;

	padding: 5px 0px;
}
.shipping_tab_content ul li > i.fas {
	font-size: 12px;
}
.shipping_details_heading {
	margin-bottom: 15px;
	padding: 7px 10px;
}
.shipping_details_heading span {
	color: #303030;
	font-weight: 600;
	font-size: 14px;
	text-transform: capitalize;
}
.shipping_details_items {
	padding: 7px 10px;
}
.shipping_details_items:hover {
	background-color: #fff;
}
.shipping_details_items span {
	color: #303030;
	font-weight: 400;
	font-size: 14px;
}

.features_single_items {
}
.features_single_items img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #791216;
	padding: 4px;
	margin-right: 10px;
}
.features_single_items img {
}
.features_single_item_text {
	padding: 7px 0px;
}
.features_single_item_text h1 {
	font-size: 14px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 5px;
}
.features_single_item_text p {
	font-size: 14px;
	font-weight: 400;
	color: #303030;
}

.testing_nots_text {
	background-color: #f8fbfd;
}
.testing_nots_text {
	padding: 15px;
}
.testing_nots_text h4 {
	font-size: 14px;
	color: #791216;
	text-transform: capitalize;
	margin-top: 10px;
	margin-bottom: 5px;
}
.testing_nots_text h1 {
	text-transform: capitalize;
	font-size: 25px;
	color: #303030;
	font-weight: 600;
	margin-bottom: 20px;
}
.testing_nots_text p {
	font-weight: 400;
	color: #303030;
	font-size: 14px;
	line-height: 27px;
	padding-bottom: 10px;
}
.testing_notes_images {
	height: 100%;
}
.testing_notes_images img {
	width: 100%;
	height: 100%;
}
