/* about us page contents START  */

.page_container {
}
.section_breadcrumb {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #6e0615;
	width: 100% !important;
	height: 400px !important;
	display: table;
}
.section_breadcrumb_wrapper {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.about.breadcrumb_bg_img_01 {
	background-image: linear-gradient(
			0deg,
			rgba(22, 21, 22, 0.3),
			rgba(10, 10, 10, 0.3)
		),
		url("../img/about-page-img/breadcrumb-img01.png");
}
.delivery.breadcrumb_bg_img_01 {
	background-image: linear-gradient(
			0deg,
			rgba(22, 21, 22, 0.3),
			rgba(10, 10, 10, 0.3)
		),
		url("../img/delivery-img/GRA_6591.png");
}

.about.breadcrumb_bg_img_02 {
	background-image: linear-gradient(
			0deg,
			rgba(22, 21, 22, 0.3),
			rgba(10, 10, 10, 0.3)
		),
		url("../img/about-page-img/breadcrumb-img02.png");
}
.about.breadcrumb_bg_img_03 {
	background-image: linear-gradient(
			0deg,
			rgba(22, 21, 22, 0.3),
			rgba(10, 10, 10, 0.3)
		),
		url("../img/about-page-img/breadcrumb-img03.png");
}
.section_breadcrumb_title {
	color: #ffffff;
}
.section_breadcrumb_title h1 {
	font-size: 45px;
	font-weight: 600;
	text-transform: capitalize;
	color: #ffffff;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
.section_breadcrumb_title h2 {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	letter-spacing: 2px;
}
.about_section_title {
}
.delivery.section_contents {
}
.delivery.section_contents button {
	border: none;
	padding: 11px 16px;
	margin-right: 17px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}
.delivery.section_contents button:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.delivery.section_contents button:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.delivery.section_contents button:focus {
	outline: none;
}
.delivery.section_contents .paged_btn {
	background-color: #f8fbfd;
	border: 1px solid #e0e3e5;
	color: #727373;
	box-shadow: 0px 0px 8px 2px #e0e3e5;
}
.delivery.section_contents .paged_btn.active {
	color: #791216;
	border: 1px solid #791216;
	background-color: #f1e8e8;
	text-transform: capitalize;
}

.delivery_section_title h1,
.about_section_title h1 {
	font-size: 30px;
	text-transform: capitalize;
	color: #292929;
	line-height: 45px;
	border-bottom: 2px solid #b8b8b8;
}
.section_contents {
}
.delivery.section_contents .contents h1 {
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 10px;
}
.delivery.section_contents .contents h2 {
	font-size: 18px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 15px;
}
.delivery.section_contents .contents p {
	margin-bottom: 15px;
}
.section_contents .contents h1 {
	font-size: 25px;
	font-weight: 500;
	color: #303030;
}
.section_bg_color {
	background-color: #f8fbfd;
}
.section_contents.section_bg_color {
	padding: 15px;
}
.section_contents p {
	color: #292929;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
}
.section_contents p span {
	color: #791216 !important;
	font-weight: 500;
}

/* product details pages css 
===============================
*/
.product_details_page_slider {
	position: relative;
	margin-bottom: 50px;
}
.product_details_page_hero,
.product_contents h1 {
	font-weight: 600;

	font-family: PT_Serif !important;
}
.product_aditional_content {
	border-top: 2px solid #791216;
	border-left: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 10px;
}
.product_aditional_content p {
	font-size: 14px;
	color: #292929;
	font-weight: 400;
	line-height: 27px;
	font-family: PT_Serif !important;
}
.product_aditional_content p span {
	color: #791216;
}
.product_catagori p {
	color: #303030;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 600;
	margin-right: 20px;
}
.product_catagori p span {
	color: #8d8d8d;
	font-weight: 400;
}
.product_details_page_slider_bg_1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 151px;
	height: 100%;
	background-image: url(../img/hero-slider-img/hero-left-bg.png);
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}
.product_details_page_slider_bg_2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 151px;
	height: 100%;
	background-image: url(../img/hero-slider-img/hero-left-bg.png);
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.shipping_and_feature_wrapper {
	padding: 50px 0px;
	background-color: #f8fbfd;
}
.shipping_and_feature_wrapper nav {
}
.shipping_and_feature_wrapper nav a {
	color: #303030;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	padding: 10px 20px;
}
.shipping_and_feature_wrapper nav a:focus {
	outline: 0;
}
.shipping_and_feature_wrapper nav a.active {
	color: #791216;
}
.shipping_tab_content {
}
.shipping_tab_content ul {
	margin-bottom: 20px;
	margin-top: 15px;
}
.shipping_tab_content ul li {
	color: #791216;
	font-size: 18px;
	font-weight: 500;

	padding: 5px 0px;
}
.shipping_tab_content ul li > i.fas {
	font-size: 12px;
}
.shipping_details_heading {
	margin-bottom: 15px;
	padding: 7px 10px;
}
.shipping_details_heading span {
	color: #303030;
	font-weight: 600;
	font-size: 14px;
	text-transform: capitalize;
}
.shipping_details_items {
	padding: 7px 10px;
}
.shipping_details_items:hover {
	background-color: #fff;
}
.shipping_details_items span {
	color: #303030;
	font-weight: 400;
	font-size: 14px;
}

.features_single_items {
}
.features_single_items img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #791216;
	padding: 4px;
	margin-right: 10px;
}
.features_single_items img {
}
.features_single_item_text {
	padding: 7px 0px;
}
.features_single_item_text h1 {
	font-size: 14px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 5px;
}
.features_single_item_text p {
	font-size: 14px;
	font-weight: 400;
	color: #303030;
}

.testing_nots_text {
	background-color: #f8fbfd;
}
.testing_nots_text {
	padding: 15px;
}
.testing_nots_text h4 {
	font-size: 14px;
	color: #791216;
	text-transform: capitalize;
	margin-top: 10px;
	margin-bottom: 5px;
}
.testing_nots_text h1 {
	text-transform: capitalize;
	font-size: 25px;
	color: #303030;
	font-weight: 600;
	margin-bottom: 20px;
}
.testing_nots_text p {
	font-weight: 400;
	color: #303030;
	font-size: 14px;
	line-height: 27px;
	padding-bottom: 10px;
}
.testing_notes_images {
	height: 100%;
}
.testing_notes_images img {
	width: 100%;
	height: 100%;
}

.testimonial_title {
	margin-bottom: 50px;
}
.testimonial_title h1 {
	color: #791216;
	text-transform: capitalize;
	font-size: 25px;
	font-weight: 600;
}
.testimonial_single_item {
	border: 2px solid transparent;
	padding: 15px;
	transition: 0.3s;
}
.testimonial_single_item:hover {
	border: 2px solid #791216;
}
.testimonial_text {
	margin-bottom: 50px;
}
.testimonial_text p {
	color: #8d8d8d;
	font-size: 14px;
	line-height: 27px;
	font-weight: 400;
}
.testimonial_customer {
}
.testimonial_customer img {
	width: 67px !important;
	height: 67px;
	border-radius: 50%;
	margin-right: 15px;
}
.testimonial_customer_details {
}
.testimonial_customer_details h1 {
	text-transform: capitalize;
	font-size: 21px;
	font-weight: 600;
	color: #222222;
	margin-bottom: 10px;
}
.testimonial_customer_details h2 {
	text-transform: uppercase;
	color: #791216;
	font-weight: 400;
	font-size: 14px;
}

/* my account page design  */

.my_account_tab_section {
	position: relative;
	top: -60px;
}
.my_account_tab_content {
	padding: 15px;
	background-color: #f8fbfd;
	box-shadow: 0px 5px 6px 0px #cacaca;
	margin-bottom: 20px;
}
.my_account_tab_content img {
	margin-bottom: 20px;
	margin-top: 20px;
}
.my_account_tab_content h1 {
	color: #303030;
	font-size: 17px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 8px;
}
.my_account_tab_content p {
	font-size: 14px;
	color: #303030;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 15px;
}
.my_account_tab_content a {
	display: block;
	text-align: center;
	text-transform: capitalize;
	color: #791216;
	font-weight: 400;
}
.my_account_tab_content a:focus {
	outline: none;
}
.my_account_tab_content a:hover {
	text-decoration: none;
}
.my_account_tab_content a i {
	margin-top: 3px;
}
.sign_out_btn {
}
.sign_out_btn a {
	padding: 10px 15px;
	color: #791216;
	border: 1px solid #791216;
	text-transform: capitalize;
	font-size: 17px;
	display: inline-block;
	font-weight: 600;
	border-radius: 30px;
	letter-spacing: 2px;
	background-color: #f2e7e8;
}
.sign_out_btn a:focus {
	outline: none;
}
.sign_out_btn a:hover {
	text-decoration: none;
}
.sign_out_btn a i {
}

/* my account address page design start  */
.single_address_area,
.add_new_address_area {
	padding: 20px 15px;
	background-color: #f8fbfd;
	box-shadow: 0px 5px 6px 0px #cacaca;
	margin-bottom: 20px;
	height: 339px;
}

.address_heading {
}
.address_heading h1 {
	color: #303030;
	font-size: 20px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 8px;
}
.address_heading h2 {
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 400;
	color: #909192;
}
.address_head_right_img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: 10px;
	background-color: #dbc5c8;
}
.address_head_right_img img {
	width: 100%;
	height: 100%;
}
.address_body_wrapper {
}
.address_body {
}
.address_body h1 {
	color: #474a57;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}
.address_body p {
	color: #98999a;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 10px;
}
.address_delete_update {
}
.address_delete_update a {
	margin: 0px 20px;
}
.address_delete_update a:focus {
	outline: none;
}
.address_delete_update a:hover {
	text-decoration: none;
}
.address_delete_update a i {
	margin-bottom: 5px;
	font-size: 25px;
}
.address_delete_update a i.fa-edit {
	color: #2793ff;
}
.address_delete_update a i.fa-trash-alt {
	color: #cb0000;
}
.address_delete_update a p {
	color: #474a57;
	text-transform: capitalize;
	font-size: 14px;
}
.add_address_icon {
	text-align: center;
}
.add_address_icon a {
	color: #dcdee0;
}
.add_address_icon a:hover {
	text-decoration: none;
}
.add_address_icon a:focus {
	outline: none;
}
.add_address_icon a i {
	font-size: 70px;
	font-weight: unset;
}
.add_address_icon a p {
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 400;
}

/* my address edit page design  */

.single_address_edit_area {
	padding: 20px 15px;
	background-color: #f8fbfd;
	box-shadow: 0px 5px 6px 0px #cacaca;
	margin-bottom: 20px;
	height: 100%;
}
.address_body_wrapper {
}
.address_body_wrapper label,
.single_address_area label {
	color: #474a57;
	font-size: 16px;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.address_body_wrapper label i {
	margin-right: 10px;
}
.address_body_wrapper input {
	border: 1px solid #e6e6e6;
}
.single_address_area textarea.form-control:focus,
.single_address_area select.form-control:focus,
.address_body_wrapper select.form-control:focus,
.address_body_wrapper input.form-control:focus {
	box-shadow: none !important;
	border: 1px solid #e6e6e6;
}
.address_body_wrapper input {
}
.address_body_wrapper input {
}
.address_body_wrapper input::-webkit-input-placeholder {
	/* Edge */
	color: #4a4a4a;
	text-transform: capitalize;
}

.address_body_wrapper input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #4a4a4a;
	text-transform: capitalize;
}

.address_body_wrapper input::placeholder {
	color: #4a4a4a;
	text-transform: capitalize;
}
.address_eidt_update a {
	display: flex;
	justify-content: inherit;
}
.address_eidt_update a:hover {
	text-decoration: none;
}

.address_eidt_update a:focus {
	outline: none;
}
.address_eidt_update a:hover button {
	background-color: #791216;
	color: #ffffff;
	border: 1px solid #791216;
}
.address_eidt_update a button {
	padding: 13px 65px;
	border: 1px solid #791216;
	color: #791216;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	border-radius: 30px;
	background-color: transparent;
	transition: 0.3s;
}
.address_eidt_update a button:focus {
	outline: none;
}
.single_address_area a {
	display: flex;
	float: right;
}
.single_address_area a:hover {
	text-decoration: none;
}
.single_address_area a:focus {
	outline: none;
}
.single_address_area a button {
	padding: 8px 33px;
	border: 1px solid #791216;
	color: #791216;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	border-radius: 30px;
	background-color: transparent;
	transition: 0.3s;
}
.single_address_area a button:focus {
	outline: none;
}
/* my account GDPR page design   */
.gdpr_contents {
}
.gdpr_contents p {
	font-size: 14px;
	line-height: 27px;
	font-weight: 400;
}
.gdpr_contents p span {
	color: #791216;
	font-weight: 600;
}

/* my accout history pages design  */
.order_history_contents {
	position: relative;
}
.order_history_contents table {
}
.order_history_contents .order_table {
	height: 300px;
}
/* width */
.order_history_contents .order_table::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.order_history_contents .order_table::-webkit-scrollbar-track {
	background: #ffffff;
}

/* Handle */
.order_history_contents .order_table::-webkit-scrollbar-thumb {
	background: #f1e6e7;
	border-radius: 10px;
	height: 100px;
}

/* Handle on hover */
.order_history_contents .order_table::-webkit-scrollbar-thumb:hover {
	background: #791216;
}
.order_history_contents table thead {
	background-color: transparent;
	font-weight: 600;
}
.order_history_contents table thead th {
	border-top: 0px !important;
	border-bottom: 0px !important;
}

.order_history_contents table tbody {
	background-color: #ffffff;
	text-transform: capitalize;
	color: #303030;
	font-size: 14px;
	font-weight: 400;
	overflow: auto;
	max-height: 300px;
}

.order_history_contents table tbody tr td span.canceled,
span.canceled {
	border: 1px solid #c10909;
	color: #c10909;
	background-color: #f8e4e4;
	border-radius: 30px;
	padding: 0px 20px;
	text-transform: capitalize;
}
.order_history_contents table tbody tr td span.pending,
span.pending {
	border: 1px solid #f5990e;
	color: #f5990e;
	background-color: #fef2e0;
	border-radius: 30px;
	padding: 0px 20px;
	text-transform: capitalize;
}
.order_history_contents table tbody tr td span.delivered,
span.delivered {
	border: 1px solid #2a98e0;
	color: #2a98e0;
	background-color: #e1f0fb;
	border-radius: 30px;
	padding: 0px 20px;
	text-transform: capitalize;
}

.order_history_contents table tbody tr td a {
	color: #791216;
}
.order_history_contents table tbody tr td a:hover {
	text-decoration: none;
}

.checkmarklebel {
	display: inline;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.checkmarklebel input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmarklebel:hover input ~ .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	border: 1px solid #791216;
	border-radius: 3px;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: transparent;
	border: 1px solid #919394;
	border-radius: 3px;
}
/* When the checkbox is checked, add a blue background */
.checkmarklebel input:checked ~ .checkmark {
	background-color: transparent;
	border: 1px solid #791216;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.checkmarklebel input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkmarklebel .checkmark:after {
	width: 12px;
	height: 12px;
	background-color: #791216;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	text-align: center;
}

/* my account order details  */
.order_details_contents {
}
.single_order_step {
	margin-right: 80px;
}

.single_order_step h1 {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 10px;
}
.single_order_step p {
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 400;
	color: #303030;
}
.ordered_address .single_address_area {
	box-shadow: none;
}
.ordered_address .single_address_area {
	height: 100% !important;
}

.invoiced_product_name {
}
.invoiced_product_name h1,
.quality h1,
.unit_price h1,
.total_price h1,
.total h1,
.total h2 {
	color: #303030;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 15px;
}
.invoiced_product_name h2,
.subtotal h1,
.shippingfee h1 {
	color: #303030;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 400;
	margin: 5px 0px;
}
