@media (min-width: 320px) {
	.navigation_menu ul li a {
		font-size: 14px;
		padding: 8px 8px;
	}
	.pricelist,
	.redwine,
	.whitewine,
	.sparklingwine,
	.spirits,
	.vintage,
	.newarrivals {
		width: 300px;
		padding: 15px;
	}
	/* all product slider css  */
	.single_blog_items_wrapper,
	.arival_single_item,
	.wine_of_weeks_single_item,
	.wine_advocate_single_item {
		margin: 0px 15px;
	}
	.product_wrapper {
		padding: 15px;
	}
	.arrived_slider .product_wrapper,
	.wine_of_weeks_slider .product_wrapper,
	.wine_advocate_slider .product_wrapper {
		background-color: #ededed;
		border-radius: 15px;
	}
	.blog_slider .owl-nav button,
	.arrived_slider .owl-nav button,
	.wine_of_weeks_slider .owl-nav button,
	.wine_advocate_slider .owl-nav button {
		left: -10px;
	}
	.blog_slider .owl-nav button.owl-next,
	.arrived_slider .owl-nav button.owl-next,
	.wine_of_weeks_slider .owl-nav button.owl-next,
	.wine_advocate_slider .owl-nav button.owl-next {
		right: -10px;
	}
	.wine_maker_bg_right {
		background-position: -500px;
	}
	.perrier_jouet_bg_right {
		background-position: 100px;
	}
	.perrier_jouet_wrapper .hero_slider_contents h1 {
		text-transform: capitalize;
	}
	.perrier_jouet_wrapper .hero_slider_contents h2 {
		color: #2e7912;
	}
	.perrier_jouet_wrapper .hero_slider_contents h3 {
		font-size: 16px;
	}
	.perrier_jouet_wrapper .hero_slider_contents p {
		font-size: 12px;
		line-height: 17px;
	}
	.perrier_jouet_wrapper .hero_slider_contents .hero_price_area {
	}
	.perrier_jouet_wrapper
		.hero_slider_contents
		.hero_price_area
		.before_price
		img {
		width: 15px !important;
		height: 15px !important;
	}
	.perrier_jouet_wrapper
		.hero_slider_contents
		.hero_price_area
		.reduce-price {
		font-size: 30px;
	}
	.perrier_jouet_wrapper
		.hero_slider_contents
		.hero_price_area
		.buy_now_btn
		a {
		padding: 10px 20px;
		font-size: 14px;
		margin-top: 0;
	}
	.perrier_jouet_wrapper .hero_slider_contents .hero_contry > img {
		width: 15px !important;
		height: 15px !important;
	}
	.perrier_jouet_wrapper .hero_contry span {
		font-size: 15px;
	}
	.perrier_jouet_wrapper .reviews_start .starts {
		font-size: 14px;
	}
	.newsletter_mobile_bg_img img {
		position: absolute;
		left: 15px;
		top: 50%;
		z-index: 1;
		background-color: transparent;
		width: 29%;
		transform: translate(0%, -50%);
	}
	.payments_methods_logo img {
		width: 50px;
		height: 50px;
	}

	.newsletter_content h1 {
		font-size: 16px;
	}
	.newsletter_content p {
		font-size: 10px;
	}
	.email_submission p.terms {
		font-size: 10px;
	}
	.email_submission p {
		font-size: 12px;
	}
}
@media (min-width: 400px) {
	.perrier_jouet_bg_right {
		background-position: 120px;
	}
}
@media (min-width: 420px) {
	.perrier_jouet_bg_right {
		background-position: 144px;
	}
}
@media (min-width: 480px) {
	.perrier_jouet_bg_right {
		background-position: 200px;
	}
}
@media (min-width: 576px) {
	.perrier_jouet_bg_right {
		background-position: 163%;
	}
	.newsletter_content h1,
	.blog_contents h1 {
		font-size: 20px;
	}
	/* Hero section responsive */
	.hero_slider_contents h1,
	.video_promo_content h1,
	.wine_maker_contents h1 {
		font-size: 20px;
	}
	.hero_slider_contents h2,
	.product_contents h1,
	.maker_name h1 {
		font-size: 16px;
	}
	.hero_slider_contents h3,
	.blog_date span,
	.video_promo_content p,
	.maker_name p {
		font-size: 14px;
	}
	.video_promo_content p,
	.wine_maker_contents p {
		line-height: 24px;
	}
	.hero_slider_contents p,
	.know_more a {
		font-size: 10px;
	}
	.hero_contry span,
	.current_price .actual_price,
	.reviews_start .rating,
	.reviews_start .starts,
	.wine_maker_contents p {
		font-size: 12px;
	}
	.reviews_start {
		margin-bottom: 1rem;
	}
	.current_price img,
	.before_price img {
		width: 15px !important;
	}
	.current_price span,
	.before_price span {
		font-size: 15px !important;
	}
	.before_price {
		display: flex !important;
	}
	.blog_contents p {
		font-size: 18px;
	}
	.video_promo_bg_rihgt {
		width: 60%;
	}
}
@media (min-width: 610px) {
	.perrier_jouet_bg_right {
		background-position: 150%;
	}
}
@media (min-width: 650px) {
	.perrier_jouet_bg_right {
		background-position: 130%;
	}
	.newsletter_content h1 {
		font-size: 25px;
	}
	.newsletter_content p {
		font-size: 20px;
	}
	.email_submission p.terms {
		font-size: 14px;
	}
	.email_submission p {
		font-size: 18px;
	}
}
@media (min-width: 768px) {
	.wine_maker_bg_right {
		background-position: -350px;
	}
	.perrier_jouet_bg_right {
		background-position: 125%;
	}
	.perrier_jouet_wrapper .hero_slider_contents h1 {
		text-transform: capitalize;
		font-size: 38px;
	}
	.perrier_jouet_wrapper .hero_slider_contents h2 {
		color: #2e7912;
	}
	.newsletter_bg_img {
		background-image: none !important;
	}
	.desk_footer_bg_img {
		background-image: url(../img/backgounds/bg-img-010.png);
	}
	.newsletter_content h1 {
		font-size: 38px;
	}
	.logo_img img {
		width: 80px;
	}
	.buy_now_btn a,
	.perker .name,
	.penin .name,
	.sommelier .name,
	.perker .number,
	.penin .number,
	.sommelier .number,
	.product_country span,
	.product_riesling span,
	.product_parker span,
	.product_penin span,
	.product_sommelier span {
		font-size: 16px;
	}
	/* Hero section responsive */
	.hero_slider_contents h1 {
		font-size: 40px;
		margin-bottom: 0.5rem;
	}
	.hero_slider_contents h2 {
		font-size: 24px;
	}
	.hero_slider_contents h3,
	.product_contents h1 {
		font-size: 20px;
	}
	.hero_slider_contents p,
	.product_contents p,
	.wine_maker_contents p {
		font-size: 14px;
	}
	.hero_contry span,
	.current_price .actual_price,
	.reviews_start .rating,
	.reviews_start .starts,
	.blog_date span,
	.video_promo_content p,
	.maker_name p {
		font-size: 18px;
	}
	.video_promo_content p {
		line-height: 28px;
	}
	.reviews_start {
		margin-bottom: 1rem;
	}
	.current_price img,
	.before_price img {
		width: 15px !important;
	}
	.current_price span,
	.before_price span,
	.maker_name h1 {
		font-size: 26px !important;
	}
	.before_price {
		display: flex !important;
	}
	.section_title h1 {
		font-size: 35px;
	}
	.blog_contents h1,
	.video_promo_content h1,
	.wine_maker_contents h1 {
		font-size: 30px;
	}
	.blog_contents p {
		font-size: 22px;
	}
	.video_thumnails {
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 992px) {
	.price_options > span,
	.currency_options > span,
	.language_options > span {
		font-size: 10px;
		color: #791216;
		text-transform: uppercase;
		align-self: center;
		margin-right: 10px;
	}
	.price_dropdown button,
	.laguage_dropdown button,
	.currency_dropdown button {
		font-size: 10px;
		border: 1px solid #e6e6e6;
		background-color: transparent;
		border-radius: 30px;
		padding: 10px 11px;
	}
	/* for fluid container  */
	.container-fluid > nav > .navigation_menu ul li a {
		font-size: 9px;
		padding: 8px 8px;
	}
	.pricelist,
	.redwine,
	.whitewine,
	.sparklingwine,
	.spirits,
	.vintage,
	.newarrivals {
		width: 700px;
		padding: 15px;
	}
	.container-fluid > nav > .navigation_menu ul > li .redwine {
		left: -60px;
	}
	.container-fluid > nav > .navigation_menu ul > li .whitewine {
		left: -120px;
	}
	.container-fluid > nav > .navigation_menu ul > li .sparklingwine {
		left: -192px;
	}
	.container-fluid > nav > .navigation_menu ul > li .spirits {
		left: -284px;
	}
	.container-fluid > nav > .navigation_menu ul > li .vintage {
		left: -333px;
	}
	.container-fluid > nav > .navigation_menu ul > li .newarrivals {
		left: -400px;
	}
	/* for only container  */
	.container > nav > .navigation_menu ul li a {
		font-size: 9px;
		padding: 8px 8px;
	}
	.container > nav > .navigation_menu ul > li .redwine {
		left: -60px;
	}
	.container > nav > .navigation_menu ul > li .whitewine {
		left: -120px;
	}
	.container > nav > .navigation_menu ul > li .sparklingwine {
		left: -192px;
	}
	.container > nav > .navigation_menu ul > li .spirits {
		left: -284px;
	}
	.container > nav > .navigation_menu ul > li .vintage {
		left: -333px;
	}
	.container > nav > .navigation_menu ul > li .newarrivals {
		left: -400px;
	}
	.wine_maker_bg_right {
		background-position: -100px;
	}
	.single_blog_items_wrapper,
	.arival_single_item,
	.wine_of_weeks_single_item,
	.wine_advocate_single_item {
		margin: 0px 25px;
	}
	.arrived_slider .product_wrapper,
	.wine_of_weeks_slider .product_wrapper,
	.wine_advocate_slider .product_wrapper {
		background-color: transparent;
		border-radius: 0px;
	}
	.perrier_jouet_bg_right {
		background-position: 125%;
	}
	.newsletter_content {
		position: relative;
		left: 0px;
	}
	.section_stripe::after {
		height: 100%;
	}
	.shipping_partner_logo img {
		width: 60px;
		height: 60px;
	}
	.payments_methods_logo img {
		width: 50px;
		height: 50px;
	}

	.product_old {
		display: flex !important;
	}
	.product_counter_number {
		padding: 10px;
		width: 50px;
	}
	.counter_plus_minus button,
	.product_buy_now_btn a {
		font-size: 14px;
	}
	.product_buy_now_btn a {
		padding: 12px 10px;
	}
	.product_counter img {
		width: 16px !important;
	}
	.counter_plus_minus button {
		padding: 0px 5px;
	}
	.counter_minus_btn {
		padding: 1px 6px !important;
	}
	.wine_maker_contents h1 {
		font-size: 55px;
	}
	.wine_maker_contents p {
		font-size: 24px;
		line-height: 35px;
	}
	.maker_name h1 {
		font-size: 30px;
	}
	.maker_name p {
		font-size: 20px;
	}
	.know_more a {
		font-size: 16px;
		padding: 10px 15px;
	}
}
@media (min-width: 1024px) {
	.perrier_jouet_bg_right {
		background-position: 113%;
	}
}
@media (min-width: 1200px) {
	.price_options > span,
	.currency_options > span,
	.language_options > span {
		font-size: 14px;
		color: #791216;
		text-transform: uppercase;
		align-self: center;
		margin-right: 10px;
	}
	.price_dropdown button,
	.laguage_dropdown button,
	.currency_dropdown button {
		font-size: 14px;
		border: 1px solid #e6e6e6;
		background-color: transparent;
		border-radius: 30px;
		padding: 10px 11px;
	}
	/* for fluid container  */
	.container-fluid > nav > .navigation_menu ul > li > a {
		font-size: 14px;
		padding: 12px 14px;
	}
	.container-fluid > nav > .navigation_menu ul > li .redwine {
		left: -94px;
	}
	.container-fluid > nav > .navigation_menu ul > li .whitewine {
		left: -189px;
	}
	.container-fluid > nav > .navigation_menu ul > li .sparklingwine {
		left: -302px;
	}
	.container-fluid > nav > .navigation_menu ul > li .spirits {
		left: -446px;
	}
	.container-fluid > nav > .navigation_menu ul > li .vintage {
		left: -524px;
	}
	.container-fluid > nav > .navigation_menu ul > li .newarrivals {
		left: -630px;
	}
	.pricelist,
	.redwine,
	.whitewine,
	.sparklingwine,
	.spirits,
	.vintage,
	.newarrivals {
		width: 793px;
		padding: 15px;
	}
	/* for only container  */
	.container > nav > .navigation_menu ul > li > a {
		font-size: 11px;
		padding: 12px 10px;
	}
	.pricelist,
	.redwine,
	.whitewine,
	.sparklingwine,
	.spirits,
	.vintage,
	.newarrivals {
		width: 793px;
		padding: 15px;
	}
	.container > nav > .navigation_menu ul > li .redwine {
		left: -73px;
	}
	.container > nav > .navigation_menu ul > li .whitewine {
		left: -147px;
	}
	.container > nav > .navigation_menu ul > li .sparklingwine {
		left: -236px;
	}
	.container > nav > .navigation_menu ul > li .spirits {
		left: -348px;
	}
	.container > nav > .navigation_menu ul > li .vintage {
		left: -409px;
	}
	.container > nav > .navigation_menu ul > li .newarrivals {
		left: -492px;
	}
	.product_wrapper {
		padding: 20px 10px;
	}
	.wine_maker_bg_right {
		background-position: 100px;
	}
	.single_blog_items_wrapper,
	.arival_single_item,
	.wine_of_weeks_single_item,
	.wine_advocate_single_item {
		margin: 0px 0px;
	}
	.blog_slider .owl-nav button,
	.arrived_slider .owl-nav button,
	.wine_of_weeks_slider .owl-nav button,
	.wine_advocate_slider .owl-nav button {
		left: -60px;
	}
	.blog_slider .owl-nav button.owl-next,
	.arrived_slider .owl-nav button.owl-next,
	.wine_of_weeks_slider .owl-nav button.owl-next,
	.wine_advocate_slider .owl-nav button.owl-next {
		right: -60px;
	}
	.perrier_jouet_bg_right {
		background-position: 108%;
	}
	.newsletter_content {
		left: -70px;
	}
	.section_stripe::after {
		height: 60%;
	}
	.shipping_partner_logo img,
	.payments_methods_logo img {
		width: 65px;
		height: 65px;
	}
	.single_blog_items_wrapper {
		height: 480px;
	}
}
/* media query max width 
==========================
*/
@media (min-width: 575.98px) {
}
